<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="front_page.css">

    <!-- font-awesome 5.15.2 CDN -->
    <script src="https://kit.fontawesome.com/5d8a1b574b.js" crossorigin="anonymous"></script>

    <script src="front_page.js" defer></script>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul id="navbar-list">
            <li class="navbar-item"><a href="front_page.html">Home</a></li>
            <li class="navbar-item"><a href="projects.html">Projects</a></li>
            <li class="navbar-item"><a href="resume.html">Resume</a></li>
            <li class="navbar-item" id="nav-contact"><a>Contact</a></li>
        </ul>
    </nav>
    
    <!-- Front Page Welcome -->
    <div class="welcome-content">
        <div class="front-image">
            <div id="welcome-armando">
                <div id="welcome-content">
                    <h1 id="front-name">Armando Salcido</h1>
                    <p id="front-description">Here is some filler text for the random story that will be a description about myself but right now has nothing so im just typing random words lol</p>             
                </div>
            </div>

            <div id="navigate-down-div" style="text-align: center;"> 
                <img id="navigate-down-img" src="arrow-down-sign-to-navigate.png">
            </div>
        </div> <!-- front-image div End-->
    </div>

    <!-- About Me Section -->
    <section id="about-section">
        <div class="container">
            <h1 class="section-header" id="about-section-header">About</h1>
            <!-- <img id="profile-picture" src="profile_picture.png" style="height: 50%;"> -->
        </div> <!-- Container div end-->
    </section>

    <!-- Projects Section -->
    <section id="project-section">
        <div class="container">
            <h1 class="section-header" id="project-section-header">Projects</h1>
            
            <div class="project-showcase" id="project-brush">
                <img src="homepage.gif" style="min-width: 310px; height:400px; float: left;">
                <p>Wrap</p>
            </div>
            

            <div class="project-showcase" id="project-pacman" style="clear: left;">
                <img src="gameplay.gif" style="min-width: 310px; height:400px; float: right;">
                <p>Wrap</p>
            </div>

            <div style="clear: right; text-align: center;">
                <a href="projects.html">View All Projects</a>
            </div>
        </div> <!-- Container div end-->
    </section>

    <!-- Contact Section -->
    <section id="contact-section">
        <div class="container">
            <h1 class="section-header" id="contact-section-header">Contact</h1>

            <a href=""><i class="contact-icon fas fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/armando-salcido-560b15176/"><i class="contact-icon fab fa-linkedin"></i></a>
            <a href="https://github.com/aksalcido"><i class="contact-icon fab fa-github"></i></a>


        </div> <!-- Container div end-->
    </section>

    <!-- Footer Section -->
    <section class="footer">

    </section>

    <style>

    </style>
</body>
</html>