/* Remove Top of Page Space for Navbar */
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

.mgt-20 {
    margin-top: 20px;
}

/* ----- Navbar ----- */
nav {
    position: fixed;
    top: 0px;   
    left: 0px;
    height: 75px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    z-index: 20;
    transition: 0.4s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#navbar-list {
    width: 60%;
    margin: 0 auto;
}

.navbar-item {
    float: left;
    text-align: center;
    list-style-type: none;
    width: 220px;
    max-width: 220px;
    height: 75px;
    font-size: 24px;
    padding: 16px 12px;
    transition: 0.2s;
}

.navbar-item:hover {
    background: rgb(251, 251, 251, 0.2);
}

.navbar-item:active {
    transform: translateY(4px);
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

#nav-contact {
    float: right;
}

/* ----- Front Image ----- */
.front-image {
    height: calc(100vh);
    padding-top: 75px;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-position: center;
}

#welcome-armando {
    height: 75vh;
    display: -webkit-flex;
    display: flex;
    
    -webkit-align-items: center;
            align-items: center;

    -webkit-justify-content: center;
            justify-content: center;
    
    color: white;
}

#front-name {
    font-size: 70px;
    font-weight: 400;
}

#front-description {
    font-size: 28px;
    font-weight: 400;
}

#navigate-down-img {
    position: absolute;
    bottom: 10px;
}

/* ===== Sections ===== */
.container {
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.section-header {
    margin: 0; 
    font-size:40px; 
    padding: 10px 0px; 
    margin-bottom: 20px;
}

/* ----- About Section ----- */
#about-section {
    height: 100%;
    background: #1A1A1D;
    overflow: auto;

    padding: 20px 0 40px 0;
}

#about-section-header {
    color: white; 
    border-bottom: 1px solid white; 
}

#profile-picture {
    height: 450px;
    float: right;
    margin-left: 20px;
    border-radius: 25px;
}

/* ----- Project Section ----- */
#project-section {
    height: 100%;
    background: #F2F2F2;
}

#project-section-header {
    text-align: right; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.project-showcase {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 450px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.demo-container {
    height: 400px;
    width: 40%;
    text-align: center;
    background-color: #4e4e5009;
    
}

.project-info {
    height: 100%; 
    width: 50%;
}

.project-title {
    font-size: 50px;
}

.project-description {
    font-size: 24px;
    font-weight: 300;
}

/* Project Image Related Styling */
#brush-img {
    height: 100%;
    width: 100%;
}

#pacman-img {
    height: 100%;
}

#sudoku-img {
    height: 100%;
}

.blurred-demo {
    filter: blur(8px);
}

/* Bottom Container Containing Button */
.view-projects-container {
    padding: 10px 0;
    text-align: center;
}

#view-projects-btn {
    display: inline-block;  
    background-color: #42B5C8;
    color: #F2F2F2;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    
}

#view-projects-btn:hover {
    color: white;
    background-color: #348B99;
}

#view-projects-btn:active {
    transform: translateY(4px);
    box-shadow: 1px;
    box-shadow: 0 4px 2px -2px gray;
}


/* ----- Contact Section ----- */
#contact-section {
    height: 200px;
    background: #4E4E50;
}

#contact-section-header {
    color: white; 
    border-bottom: 1px solid white;
}

/* Footer */
.footer {
    height: 25px; 
    background: #4E4E50;
}

.container a {
    text-decoration: none   ;
}

.contact-icon {
    font-size: 64px;
    color: rgb(29, 29, 29);
    transition: 0.2s ease;
}

.contact-icon:hover {
    color: #F2F2F2;
}