/* Remove Top of Page Space for Navbar */
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ----- Navbar ----- */
nav {
    position: fixed;
    top: 0px;   
    left: 0px;
    height: 75px;
    width: 100%;
    background-color: black;
    overflow: hidden;
    transition: 0.4s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#navbar-list {
    width: 60%;
    margin: 0 auto;
}

.navbar-item {
    float: left;
    width: 220px;
    max-width: 220px;
    height: 75px;
    font-size: 24px;
    padding: 16px 12px;
    text-align: center;
    list-style-type: none;
    transition: 0.2s;
}

.navbar-item:hover {
    background: rgb(251, 251, 251, 0.2);
}

.navbar-item:active {
    transform: translateY(4px);
}

#navbar-list a {
    color: white;
    text-decoration: none;
}

#nav-contact {
    float: right;
}

/* Project Page Content */
#project-page-content {
    padding-top: 75px;
}

.container {
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

#project-tabs {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

#project-tabs-list {
    display: flex;
    list-style: none; 
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
}

.project-li {
    text-align: center;
    color: white; 
    width: 12.5%;
    padding: 10px;
    background: black;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.active-project {
    background: white;
    color: black;
}

/* Project Container Content */
.project-container {
    height: 500px;
    width: 100%;
    display: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.active-project-container {
    display: block;
}